name: GoXfer-Server-Deployment

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            # -   name: Checkout Repository
            #     uses: actions/checkout@v3

            -   name: Download built artifacts
                uses: actions/download-artifact@v4
                with:
                    name: goxfer-server-linux
                    path: ./artifact-folder

            -   name: List artifact contents
                run: ls -R ./artifact-folder
                  
            -   name: Test SSH connection
                env:
                  HOST: ${{ secrets.EC2_SSH_HOST_IP }}
                  USER: ${{ secrets.EC2_SSH_USER }}
                  KEY: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
                run: |
                  echo "$KEY" > key.pem
                  chmod 600 key.pem
                  ssh -o StrictHostKeyChecking=no -i key.pem $USER@$HOST "echo 'Connected to EC2 successfully!'"
              
            