name: GoXfer-Server-CD

permissions:
    actions: read
    contents: read

on:
  workflow_run:
    workflows: ["GoXfer-Server-CI"]
    types: [completed]

jobs:
    deploy:

        # TESTING
        if: >
            ${{ github.event.workflow_run.conclusion == 'success' &&
            github.event.workflow_run.head_branch == 'main' }}

        runs-on: ubuntu-latest

        steps:
            -   name: Download built server
                uses: actions/download-artifact@v4
                with:
                    name: goxfer-server-linux
                    path: ./artifact-folder
                    run-id: ${{ github.event.workflow_run.id }}
                    github-token: ${{ secrets.GITHUB_TOKEN }}
        
            -   name: SSH into EC2 (test)
                env:
                    HOST: ${{ secrets.EC2_SSH_HOST_IP }}
                    USER: ${{ secrets.EC2_SSH_USER }}
                    KEY: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
                run: |
                    echo "$KEY" > key.pem
                    chmod 600 key.pem
                    ssh -o StrictHostKeyChecking=no -i key.pem $USER@$HOST "echo 'Connected from GitHub Actions!'"

