name: Server-CD

permissions:
    actions: read
    contents: read

on:
  workflow_run:
    workflows: ["Server-CI"]
    types: [completed]

jobs:
    setup:

        # TESTING
        if: >
            ${{ github.event.workflow_run.conclusion == 'success' &&
            github.event.workflow_run.head_branch == 'main' }}

        runs-on: ubuntu-latest

        steps:
            # Download server binary
            -   name: Download built server
                uses: actions/download-artifact@v4
                with:
                    name: goxfer-server-linux
                    path: ./gh-artifacts
                    run-id: ${{ github.event.workflow_run.id }}
                    github-token: ${{ secrets.GITHUB_TOKEN }}

            # Test EC2 SSH connectivity
            -   name: SSH into EC2 (test)
                env:
                    HOST: ${{ secrets.EC2_SSH_HOST_IP }}
                    USER: ${{ secrets.EC2_SSH_USER }}
                    KEY: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
                run: |
                    echo "${KEY}" > key.pem
                    chmod 600 key.pem
                    ssh -o StrictHostKeyChecking=no -i key.pem ${USER}@${HOST} "
                        echo '$>$ Connected from GitHub Actions!'
                    "

            # Setup EC2, directories and systemd file
            -   name: Deploy to EC2 (create dirs & service if needed)
                env:
                    HOST: ${{ secrets.EC2_SSH_HOST_IP }}
                    USER: ${{ secrets.EC2_SSH_USER }}
                    KEY: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
                    BASE_PATH: ${{ secrets.EC2_BASE_PATH }}
                    SYSTEMD_UNIT: ${{ secrets.EC2_UBUNTU_SYSTEMD_UNIT }}
                    SERVNAME: ${{ secrets.EC2_SYSTEMD_SERVICE_NAME }}
                run: |
                    echo "${KEY}" > key.pem
                    chmod 600 key.pem
                    echo "$>$ Connecting to EC2..."

                    ssh -o StrictHostKeyChecking=no -i key.pem ${USER}@${HOST} "
                        set -e

                        echo '$>$ Creating directories...'
                        mkdir -p /home/${USER}/${BASE_PATH}/bin
                        mkdir -p /home/${USER}/${BASE_PATH}/env
                        mkdir -p /home/${USER}/${BASE_PATH}/migrate
                        mkdir -p /home/${USER}/${BASE_PATH}/logs

                        echo '$>$ Writing systemd unit...'
                        sudo bash -c 'cat > /etc/systemd/system/${SERVNAME}' <<- 'EOF'
                    ${SYSTEMD_UNIT}
                    EOF

                        sudo chmod 644 /etc/systemd/system/${SERVNAME}
                        sudo systemctl daemon-reload
                        sudo systemctl enable "${SERVNAME}"
                    "

            # Upload server binary
            -   name: Upload binary to EC2
                env:
                    HOST: ${{ secrets.EC2_SSH_HOST_IP }}
                    USER: ${{ secrets.EC2_SSH_USER }}
                    KEY: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
                    BASE_PATH: ${{ secrets.EC2_BASE_PATH }}
                    SERVNAME: ${{ secrets.EC2_SYSTEMD_SERVICE_NAME }}
                run: |
                    echo "${KEY}" > key.pem
                    chmod 600 key.pem
                    echo "$>$ Copying binary..."

                    scp -o StrictHostKeyChecking=no -i key.pem ./gh-artifacts/goxfer.server ${USER}@${HOST}:/home/${USER}/${BASE_PATH}/bin/goxfer.server

                    ssh -o StrictHostKeyChecking=no -i key.pem ${USER}@${HOST} "
                        chmod +x /home/${USER}/${BASE_PATH}/bin/goxfer.server
                    "

            # Upload server env file
            -   name: Upload environment file
                env:
                    HOST: ${{ secrets.EC2_SSH_HOST_IP }}
                    USER: ${{ secrets.EC2_SSH_USER }}
                    KEY: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
                    BASE_PATH: ${{ secrets.EC2_BASE_PATH }}
                    ENV_DATA: ${{ secrets.EC2_ENV_DATA }}
                run: |
                    echo "${KEY}" > key.pem
                    chmod 600 key.pem
                    echo "$>$ Copying env file..."

                    ssh -o StrictHostKeyChecking=no -i key.pem ${USER}@${HOST} "
                        set -e
                        sudo bash -c 'cat > /home/${USER}/${BASE_PATH}/env/.env' <<- 'EOF'
                    ${ENV_DATA}
                    EOF
                    "
         
    migrations:
        runs-on: ubuntu-latest
        needs: setup

        steps:
        -   name: Checkout repo
            uses: actions/checkout@v4

        # Detect if ./migrations/** changed
        -   name: Check for migration changes
            id: filter
            uses: dorny/paths-filter@v3
            with:
                filters: |
                    migrations:
                    - 'migrations/**'

        # Upload /migrations/** to EC2
        -   name: Upload migrations to EC2
            env:
                HOST: ${{ secrets.EC2_SSH_HOST_IP }}
                USER: ${{ secrets.EC2_SSH_USER }}
                KEY: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
                BASE_PATH: ${{ secrets.EC2_BASE_PATH }}
            if: steps.filter.outputs.migrations == 'true'
            run: |
                echo "${KEY}" > key.pem
                chmod 600 key.pem
                echo "$>$ Copying migrations..."
                
                ssh -o StrictHostKeyChecking=no -i key.pem ${USER}@${HOST} "
                    set -e
                    mkdir -p /home/${USER}/${BASE_PATH}/migrations
                "
                scp -o StrictHostKeyChecking=no -i key.pem -r migrations/* ${USER}@${HOST}:/home/${USER}/${BASE_PATH}/migrations/


        # --- 3. Run migrations only if folder changed ------------------------
        -   name: Run migrations
            env:
                HOST: ${{ secrets.EC2_SSH_HOST_IP }}
                USER: ${{ secrets.EC2_SSH_USER }}
                KEY: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
                BASE_PATH: ${{ secrets.EC2_BASE_PATH }}
                PG_STR: ${{ secrets.RDS_PG_MAIN_STR }}
            if: steps.filter.outputs.migrations == 'true'
            run: |
                echo "${KEY}" > key.pem
                chmod 600 key.pem
                echo "$>$ Migration files changed. Applying database migrations..."

                ssh -o StrictHostKeyChecking=no -i key.pem ${USER}@${HOST} "
                    set -e
                    if ! command -v migrate >/dev/null 2>&1; then
                        echo "$>$ Installing migrate..."
                        curl -fsSL https://packagecloud.io/golang-migrate/migrate/gpgkey | sudo gpg --batch --yes --dearmor -o /etc/apt/keyrings/migrate.gpg
                        echo "deb [signed-by=/etc/apt/keyrings/migrate.gpg] https://packagecloud.io/golang-migrate/migrate/ubuntu/ $(lsb_release -sc) main" | sudo tee /etc/apt/sources.list.d/migrate.list
                        sudo apt-get update
                        sudo apt-get install -y migrate
                    fi

                    migrate -database ${PG_STR} -path /home/${USER}/${BASE_PATH}/migrations/db up
                "

            # --- 4. If skipped ---------------------------------------------------
        -   name: No migration needed
            if: steps.filter.outputs.migrations != 'true'
            run: echo "No migration changes detected. Skipping."

    restart:
        runs-on: ubuntu-latest
        needs: migrations

        steps:

            # restart systemd on EC2
            -   name: Restart service
                env:
                    HOST: ${{ secrets.EC2_SSH_HOST_IP }}
                    USER: ${{ secrets.EC2_SSH_USER }}
                    KEY: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
                    SERVNAME: ${{ secrets.EC2_SYSTEMD_SERVICE_NAME }}
                run: |
                    echo "${KEY}" > key.pem
                    chmod 600 key.pem
                    echo '$>$ Restarting ${SERVNAME}...'

                    ssh -o StrictHostKeyChecking=no -i key.pem ${USER}@${HOST} "
                        sudo systemctl daemon-reload
                        sudo systemctl restart ${SERVNAME}
                        sleep 10
                        sudo systemctl status ${SERVNAME} --no-pager
                    "

        #     # TODO: have an entire separate workflow with multiple things to test and check
        # -   name: Health Check
        #     env:
                # HOST: {{ secrets.EC2_SSH_HOST_IP }}
        #     run: curl -f http://$HOST:8080/health
