name: GoXfer-Server-CD

# on:
#     push:
#         branches:
#             - main

permissions:
    actions: read
    contents: read


on:
    workflow_run:
        workflows: ["GoXfer-Server-CI"]
        types:
            - completed
  

jobs:
    deploy:
        if: >
            ${{ github.event.workflow_run.conclusion == 'success' && 
            github.event.workflow_run.head_branch == 'main' }}

        runs-on: ubuntu-latest
        steps:
            # -   name: Checkout Repository
            #     uses: actions/checkout@v3

            -   name: Debug workflow_run event
                run: |
                    echo "Triggered by workflow: ${{ github.event.workflow_run.name }}"
                    echo "Conclusion: ${{ github.event.workflow_run.conclusion }}"
                    echo "Run ID: ${{ github.event.workflow_run.id }}"


            -   name: Download ALL artifacts
                uses: actions/download-artifact@v5
                with:
                    path: ./artifact-folder
                    run-id: ${{ github.event.workflow_run.id }}
                  

            -   name: Download built artifacts
                uses: actions/download-artifact@v5
                with:
                    name: goxfer-server-linux
                    path: ./artifact-folder

            -   name: List artifact contents
                run: ls -R ./artifact-folder
                  
            -   name: Test SSH connection
                env:
                  HOST: ${{ secrets.EC2_SSH_HOST_IP }}
                  USER: ${{ secrets.EC2_SSH_USER }}
                  KEY: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
                run: |
                  echo "$KEY" > key.pem
                  chmod 600 key.pem
                  ssh -o StrictHostKeyChecking=no -i key.pem $USER@$HOST "echo 'Connected to EC2 successfully!'"
              
            