name: GoXfer-Server-CI

on: 
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout repository
                uses: actions/checkout@v3

            -   name: Set up Go
                uses: actions/setup-go@v6
                with:
                  go-version: 1.25.1

            -   name: Cache modules
                uses: actions/cache@v4
                with:
                    path: |
                        ~/.cache/go-build
                        ${{ runner.temp }}/gomodcache
                    key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
                    restore-keys: |
                        ${{ runner.os }}-go-

            -   name: Install dependencies
                run: go mod download
                env:
                    GOMODCACHE: ${{ runner.temp }}/gomodcache

            -   name: Build
                run: go build -o goxfer.server ./cmd

            -   name: Run tests
                run: go test ./... -cover

            -   name: Check gofmt
                run: |
                    go fmt ./...
                    git diff --exit-code

            # -   name: golangci-lint
            #     uses: golangci/golangci-lint-action@v8
            #     with:
            #         version: v2.5.0
            #         args: --timeout 3m

            -   name: Generate checksums
                run: sha256sum goxfer.server > server-checksum.txt

            -   name: Upload built binary
                uses: actions/upload-artifact@v4
                with:
                    name: goxfer-server-linux
                    path: |
                        goxfer.server
                        server-checksum.txt

        